body{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: #daae40 !important;
}
logo{
    width: 50 !important;
    height: 50 !important;
    background-color: 'white' !important;
    border-radius: '50%' !important;            
}